<div class="col">
  <p>
    Game <%= game.id %>
  </p>
  <% game.hands.each do |h| %>
    <li><%= h.name %></li>
  <% end %>
  <%= button_to('join', { controller: :game, id: game.id, action: :join }) %>
</div>
